.sidebar {
  width: 220px;
  min-height: 100vh;
  background-color: #194FB8;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-item {
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-link.active {
  background: rgba(255, 255, 255, 0.2) !important;
  font-weight: bold;
}

.toggle-circle {
  width: 40px;
  height: 40px;
  color: aliceblue;
  border-radius: 50%;
  background: #194FB8;
  cursor: pointer;
  position: absolute;
  left: 200px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: transform 0.3s ease, left 0.3s ease;
}

.sidebar.collapsed + .toggle-circle {
  left: 50px;
  transform: rotate(180deg);
  
}
.square-btn {
  background: rgba(255, 255, 255, 0.15);
  padding: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  color: white;
  text-decoration: none;
}

.square-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}
 
.collapsed-btn {
  height: 50px; 
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
 /*  transition: background 0.2s ease; */
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.collapsed-btn:hover {
  background: rgba(255, 255, 255, 0.35);
}

.submenu {
  list-style: none;
  padding-left: 25px;
  margin-top: 5px;
}

.submenu-item {
  color: #ddd;
  text-decoration: none;
  padding: 5px 0;
  display: block;
}

.submenu-item:hover {
  color: white;
}
 /* Contenedor */
.tooltip-menu {
  position: relative;
}

/* Tooltip panel (oculto normalmente) */
.tooltip-panel {
  position: absolute;
  top: 0;
  left: 60px; /* aparece al lado del sidebar */
  background: #194FB8;
  padding: 8px 10px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  min-width: 140px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  z-index: 999;
}

/* Mostrar menú cuando pasas el mouse */
.tooltip-menu:hover .tooltip-panel {
  display: flex;
}

/* Items */
.tooltip-item {
  color: #fff;
  padding: 6px 4px;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
/* "Puente invisible" para que no se cierre cuando bajas el mouse */
.tooltip-panel::before {
  content: "";
  position: absolute;
  left: -20px; /* distancia entre el botón y el tooltip */
  top: 0;
  width: 20px; /* puente para mantener hover */
  height: 100%;
}

.tooltip-item:hover {
  background: rgba(255,255,255,0.15);
}

@media (max-width: 768px) {
  
}
