<div class="sidebar d-flex flex-column p-3" [class.collapsed]="sidebarCollapsed">
  <h4 class="text-white mb-4"></h4>

  @if (!sidebarCollapsed) {
  <!-- Sidebar normal -->
  <ul class="nav nav-pills flex-column">

    <!-- ITEM NORMAL -->
    <li class="nav-item mb-2">
      <a routerLink="/dashboard" class="nav-link text-white sidebar-item">
        <i class="bi bi-bar-chart"></i> Dashboard
      </a>
    </li>

    <!-- ITEM NORMAL -->
    <li class="nav-item mb-2">
      <a routerLink="/reportes" class="nav-link text-white sidebar-item">
        <i class="bi bi-file-earmark-text"></i> Reportes
      </a>
    </li>

    <!-- GRUPO CON SUBMENÚ -->
    <li class="nav-item mb-2">
      <div class="nav-link text-white sidebar-item d-flex justify-content-between" (click)="grupoOpen = !grupoOpen">
        <div>
          <i class="bi bi-folder"></i> Administración
        </div>
        <i class="bi" [ngClass]="grupoOpen ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
      </div>

      @if (grupoOpen) {
      <ul class="submenu">
        <li><a routerLink="/roles" class="submenu-item"> <i class="bi bi-people"></i> Roles</a></li>
        <li><a routerLink="/permisos" class="submenu-item"><i class="bi bi-shield-lock"></i> Permisos</a></li>
      </ul>
      }
    </li>

    <!-- ITEM NORMAL -->
    <li class="nav-item mb-2">
      <a routerLink="/usuarios" class="nav-link text-white sidebar-item">
        <i class="bi bi-people"></i> Usuarios
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/configuracion" class="nav-link text-white sidebar-item">
        <i class="bi bi-gear"></i> Configuración
      </a>
    </li>
  </ul>

  } @else {
  <!-- SIDEBAR COLAPSADO -->
  <ul class="nav nav-pills flex-column">

    <li class="nav-item mb-2">
      <a routerLink="/dashboard" class="collapsed-btn" data-bs-toggle="tooltip" title="Texto del tooltip">
        <i class="bi bi-bar-chart"></i>
      </a>
    </li>

    <li class="nav-item mb-2">
      <a routerLink="/reportes" class="collapsed-btn">
        <i class="bi bi-file-earmark-text"></i>
      </a>
    </li>

    <!-- GRUPO CUANDO ESTÁ COLAPSADO -->
    <li class="nav-item mb-2 tooltip-menu">
      <a class="collapsed-btn">
        <i class="bi bi-folder"></i>
      </a>

      <div class="tooltip-panel">
        <a routerLink="/roles" class="tooltip-item"><i class="bi bi-people"></i> Roles</a>
        <a routerLink="/permisos" class="tooltip-item"><i class="bi bi-shield-lock"></i> Permisos</a>
      </div>
    </li>


    <li class="nav-item mb-2">
      <a routerLink="/usuarios" class="collapsed-btn">
        <i class="bi bi-people"></i>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/configuracion" class="collapsed-btn">
        <i class="bi bi-gear"></i>
      </a>
    </li>

  </ul>
  }

</div>

<div class="toggle-circle" (click)="toggleSidebar()">
  <i class="bi bi-arrow-left"></i>
</div>